.col-content {
    border: 1px solid gray;
    margin: 5px;
    padding: 5px;
}

.text-container {
    width: 120px;
    overflow: hidden;
    text-align: center;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    margin-top: 5px;
    cursor: pointer;
}
