.detail-page-root {
    /* 隐藏滚动条 */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.detail-page-root::-webkit-scrollbar {
    display: none;
}

.col-content {
    background: var(--semi-color-bg-0);
    padding: 10px;
    border: 0 solid var(--semi-color-border);
    max-width: 600px;
    margin: 3px;
    border-radius: 8px;
    font-size: 14px;
}

.col-content .title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

