.root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 14px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.content {
    flex-grow: 1; /* 使内容区域占据剩余空间 */
    width: 100vw;
    margin-top: 60px;
    overflow: auto; /* 使内容区域上下滚动 */
}
